@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


main{
    max-width: 1427px;
    min-height: 100vh;
    background-color: #F2F2F2;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;

}


.list_personne{
    border-right: 5px solid #A0A0A0;
    width: 28%;

}

.card{
    position: relative;
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.last_msg{
    font-size: 12px;
    color: #BBBBBB;
}

.not_seen{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #005AE0;
    border-radius: 100px;
    top: 5px;
    left: 5px;
}

.online{
    position: absolute;
    width: 17px;
    height: 17px;
    bottom: 10px;
    left: 58px;
    border-radius: 100px;
    background-color: #00CD21;
}


.message{
    position: relative;
    width: 100%;
}

.barre_info{
    height: 76px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 15px;
}



.titouan_pp{
    width: 50px;
    margin-left: 15px;
    border-radius: 100px;
}

.account_name{
    font-size: 17px;
    margin-bottom: -5px;
    margin-left: -2px;
}

.last_seen{
    color: #BBBBBB;
    font-size: 12px;
}



.conversation{
    padding: 20px 15px;
    display: flex;
    max-height: 89%;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    
    
}


.message_by_messager{
    display: flex;
    align-items: center;
    gap: 15px;
}

.titouan_pp_msg{
    width: 35px;
    border-radius: 100px;

}

.message_bulle{
    border-radius: 25px;
    max-width: 40rem;
    padding: 10px 15px;
}




.message_bulle.messager{
    background-color: white;

}

.message_bulle.sender{
    background-color: #55A3FF;
    color: white;
    float: right;

}


.message_tools{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    

}

.image_logo{
    width: 45px;
    cursor: pointer;
}

.send_image{
    width: 45px;
    height: 45px;
    background-color: #4AA8FF;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}



.send_message{
    background-color: white;
    padding: 12px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}
    





@media (max-width: 1420px) {
    .list_personne{
        display: none;
    }

}


@media (max-width: 880px) {
    .message_bulle{
        font-size: 15px;
        max-width: 25rem;
    }
}


@media (max-width: 500px) {
    .message_bulle{
        font-size: 14px;
        max-width: 13rem;
    }


}